@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
$midGrey: #464646;
$darkGrey: #131313;
$green: #05ffa1;
$btnColor:#01cdfe;
$purple:#b967ff;
$blue: #01cdfe;
$lightGrey:#4e4e4e;
$curve: cubic-bezier(0.23,
1,
0.32,
1);
$font: 'Share Tech Mono',
monospace;
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
} //@include keyframes
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html,
body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    background-color: $darkGrey;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: $font;
}

.container1,
.container2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container2 {
    z-index: 999
}

#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in;
    z-index: -2;
}


/* SVG loader */

.color-3 {
    stroke: $purple;
    transform: translate3d(2px, 2px, 0);
    stroke-width: 6px;
}

.color-1 {
    stroke: #ffffff;
    stroke-width: 8px;
}

.color-2 {
    stroke: $blue;
    transform: translate3d(2px, 2px, 0);
    stroke-width: 8px;
    z-index: 9999;
}

.letters {
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    stroke-miterlimit: 3;
    fill: none;
    display: block;
    min-height: 300px;
    max-height: 50vh;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}


/* Letter path */

.letter__layer {
    fill: none;
}

// Grey Overlays
.purple {
    position: absolute;
    top: 0;
    right: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $purple;
    margin: 0;
    padding: 0;
}

.green {
    position: absolute;
    top: 0;
    right: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $green;
    margin: 0;
    padding: 0;
}

.blue {
    position: absolute;
    top: 0;
    right: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $blue;
    margin: 0;
    padding: 0;
}

//social
.social {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100px);
}

.fadeIn {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.8s 1s ease-in-out;
}

#twitter,
#codepen {
    width: 80px;
    height: 80px;
}

.svg1,
.svg2 {
    fill: $midGrey;
    transition: fill ease-in-out;
}

.svg1Color {
    fill: $purple;
}

#twitter:hover .svg1 {
    fill: $purple;
}

.svg2Color {
    fill: $blue;
}

#codepen:hover .svg2 {
    fill: $blue;
}

//blurb 
.blurb {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    height: 150px;
    transform: translateY(50px);
    opacity: 0;
    z-index: 99999;
}

.blurb h1 {
    color: $midGrey;
    line-height: 1.8;
}

.blurb h1 a {
    color: $midGrey;
}

.blurb h1 a:hover {
    color: $green;
}

.fadeInDown {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.8s 1s ease-in-out;
}

//Glitch Button
.aboutMe {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 80px;
    width: 300px;
    height: 100px;
}

.glitch-btn {
    position: absolute;
    font-size: 36px;
    transition: all 0.8s $curve;
    color: #afafaf;
    text-decoration: none;
}

.glitch-btn .mask {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: none;
}

.glitch-btn .mask span {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    top: -100%;
}

.glitch-btn:hover {
    color: $midGrey;
}

.glitch-btn:hover:before {
    background: $btnColor;
    transform: translateX(120%) scaleX(3) scaleY(0.8);
}

.glitch-btn:before {
    content: "";
    position: absolute;
    left: -15%;
    top: -50%;
    background: $midGrey;
    width: 40%;
    height: 200%;
    padding: 0px;
    z-index: -1;
    transition: all 0.8s $curve;
}

.glitch-btn:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 105%;
    background: #ffffff;
    width: 112%;
    height: 10%;
    padding: 0px;
    z-index: -1;
    transition: all 0.8s $curve;
}

.glitch-btn:hover:after {
    background: $lightGrey;
    transform: translateX(-55%) translateY(-600%) rotate(90deg) scaleX(0.3);
}

.glitch-btn .mask1 {
    height: 20%;
    top: 19%;
}

.glitch-btn .mask2 {
    height: 30%;
    top: 35%;
}

.glitch-btn .mask3 {
    height: 57%;
    top: 63%;
}

.hidden {
    opacity: 0;
}

.glitch-btn:hover .mask1 {
    animation: glitchin1 0.2s 0.3s both;
}

.glitch-btn:hover .mask2 {
    animation: glitchin2 0.2s 0.2s both;
}

.glitch-btn:hover .mask3 {
    animation: glitchin1 0.2s 0.2s both;
}

.glitch-btn:hover .hidden {
    animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .text {
    animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .mask {
    display: block;
}

@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include keyframes(glitchin1) {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(0.5px, 0.05px);
        transform: translate(0.5px, 0.05px);
    }
    90% {
        -webkit-transform: translate(0.6px, -0.3px);
        transform: translate(0.6px, -0.3px);
    }
    85% {
        -webkit-transform: translate(1.2px, 0px);
        transform: translate(1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(1.2px, 0.2px);
        transform: translate(1.2px, 0.2px);
    }
    75% {
        -webkit-transform: translate(0.5px, 1px);
        transform: translate(0.5px, 1px);
    }
    70% {
        -webkit-transform: translate(0.3px, 1.2px);
        transform: translate(0.3px, 1.2px);
    }
    65% {
        -webkit-transform: translate(-2.1px, 0.7px);
        transform: translate(-2.1px, 0.7px);
    }
    60% {
        -webkit-transform: translate(3.6px, 0.4px);
        transform: translate(3.6px, 0.4px);
    }
    55% {
        -webkit-transform: translate(0.45px, 1.8px);
        transform: translate(0.45px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-3px, -1px);
        transform: translate(-3px, -1px);
    }
    45% {
        -webkit-transform: translate(-4.4px, 1.1px);
        transform: translate(-4.4px, 1.1px);
    }
    40% {
        -webkit-transform: translate(-4.2px, 2.4px);
        transform: translate(-4.2px, 2.4px);
    }
    35% {
        -webkit-transform: translate(2.6px, 1.3px);
        transform: translate(2.6px, 1.3px);
    }
    30% {
        -webkit-transform: translate(-1.4px, 2.8px);
        transform: translate(-1.4px, 2.8px);
    }
    25% {
        -webkit-transform: translate(6px, 0.75px);
        transform: translate(6px, 0.75px);
    }
    20% {
        -webkit-transform: translate(0px, -1.6px);
        transform: translate(0px, -1.6px);
    }
    15% {
        -webkit-transform: translate(-5.95px, -0.85px);
        transform: translate(-5.95px, -0.85px);
    }
    10% {
        -webkit-transform: translate(3.6px, 3.6px);
        transform: translate(3.6px, 3.6px);
    }
    5% {
        -webkit-transform: translate(-0.95px, -0.95px);
        transform: translate(-0.95px, -0.95px);
    }
    1% {
        opacity: 1;
    }
}

@include keyframes(glitchin2) {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(-0.5px, -0.05px);
        transform: translate(-0.5px, -0.05px);
    }
    90% {
        -webkit-transform: translate(-0.6px, 0.3px);
        transform: translate(-0.6px, 0.3px);
    }
    85% {
        -webkit-transform: translate(-1.2px, 0px);
        transform: translate(-1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(-1.2px, -0.2px);
        transform: translate(-1.2px, -0.2px);
    }
    75% {
        -webkit-transform: translate(-0.5px, -1px);
        transform: translate(-0.5px, -1px);
    }
    70% {
        -webkit-transform: translate(-0.3px, -1.2px);
        transform: translate(-0.3px, -1.2px);
    }
    65% {
        -webkit-transform: translate(2.1px, -0.7px);
        transform: translate(2.1px, -0.7px);
    }
    60% {
        -webkit-transform: translate(-3.6px, -0.4px);
        transform: translate(-3.6px, -0.4px);
    }
    55% {
        -webkit-transform: translate(-0.45px, -1.8px);
        transform: translate(-0.45px, -1.8px);
    }
    50% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
    }
    45% {
        -webkit-transform: translate(4.4px, -1.1px);
        transform: translate(4.4px, -1.1px);
    }
    40% {
        -webkit-transform: translate(4.2px, -2.4px);
        transform: translate(4.2px, -2.4px);
    }
    35% {
        -webkit-transform: translate(-2.6px, -1.3px);
        transform: translate(-2.6px, -1.3px);
    }
    30% {
        -webkit-transform: translate(1.4px, -2.8px);
        transform: translate(1.4px, -2.8px);
    }
    25% {
        -webkit-transform: translate(-6px, -0.75px);
        transform: translate(-6px, -0.75px);
    }
    20% {
        -webkit-transform: translate(0px, 1.6px);
        transform: translate(0px, 1.6px);
    }
    15% {
        -webkit-transform: translate(5.95px, 0.85px);
        transform: translate(5.95px, 0.85px);
    }
    10% {
        -webkit-transform: translate(-3.6px, -3.6px);
        transform: translate(-3.6px, -3.6px);
    }
    5% {
        -webkit-transform: translate(0.95px, 0.95px);
        transform: translate(0.95px, 0.95px);
    }
    1% {
        opacity: 1;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .blurb {
        bottom: 5%;
    }
    .letters {
        width: 80%;
        height: auto;
        top: 40%;
    }
    h1 {
        font-size: 16px;
    }
    #twitter,
    #codepen {
        width: 60px;
        height: 60px;
    }
}